@font-face {
    font-family: "Segoe UI";
    src: url("./segoe_ui/segoeui.ttf");
}

@font-face {
    font-family: "Segoe UI";
    src: url("./segoe_ui/segoeuil.ttf");
    font-weight: 100;
}

@font-face {
    font-family: "Segoe UI";
    src: url("./segoe_ui/segoeuisl.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Segoe UI";
    src: url("./segoe_ui/seguisb.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Segoe UI";
    src: url("./segoe_ui/segoeuib.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Segoe UI";
    src: url("./segoe_ui/seguibl.ttf");
    font-weight: 900;
}